{% extends 'base.html.twig' %}

{% block title %}Connexion to website{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-xl-4">

                <!-- Heading -->
                <h1 class="text-center">
                    Sign in
                </h1>

                <!-- Subheading -->
                <p class="text-muted text-center">
                    Free access to our dashboard.
                </p>

                <!-- Error alert -->
                {% if hasError %}
                    <div class="alert alert-danger text-center">
                        An error has occurred, the email address or password is incorrect.
                    </div>
                {% endif %}

                <!-- Form -->
                <form action="{{ path('account_login') }}" method="post">

                    <!-- Email address -->
                    <div class="form-group">

                        <!-- Label -->
                        <label>Email Address</label>

                        <!-- Input -->
                        <input type="email" name="_username" id="email" class="form-control"
                               placeholder="name@address.com" value="{{ lastUsername }}" required>

                    </div>

                    <!-- Password -->
                    <div class="form-group">

                        <div class="row">
                            <div class="col">

                                <!-- Label -->
                                <label>Password</label>

                            </div>
                            <div class="col-auto">

                                <!-- Help text -->
                                <a href="password-reset.html" class="form-text small text-muted">
                                    Forgot password?
                                </a>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Input group -->
                        <div class="input-group input-group-merge">

                            <!-- Input -->
                            <input type="password" id="password" name="_password"
                                   class="form-control" placeholder="Enter your password" required>

                        </div>
                    </div>

                    <!-- Submit -->
                    <button type="submit" class="btn btn-lg btn-block btn-primary mb-3">
                        Sign in
                    </button>

                    <!-- Link -->
                    <div class="text-center">
                        <small class="text-muted text-center">
                            Don't have an account yet? <a href="{{ path('account_register') }}">Sign up</a>.
                        </small>
                    </div>

                </form>

            </div>
        </div> <!-- / .row -->
    </div>
{% endblock %}
