body {
    font-family: "Open sans", Arial, sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.add-new-ad {
    height: 40px;
    margin: auto;
}

