{% extends 'base.html.twig' %}

{% block title %}Create a new add{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container py-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" id="add-ad" class="btn btn-primary mb-2">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/ad.js') }}"></script>
{% endblock %}