<footer class="br-footer container">
    <div class="footer-left">
        <div class="mg-b-2">Copyright © 2017. Bracket. All Rights Reserved.</div>
        <div>Attentively and carefully made by ThemePixels.</div>
    </div>
</footer>