<span class="rating">
    {% for i in 1..5 %}
        {% if i <= rating %}
            <i class="fas fa-star text-warning"></i>
    {% else %}
            <i class="fas fa-star text-gray"></i>
        {% endif %}
    {% endfor %}
</span>